/*初期化*/
body, div, p{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}


/*アカウント作成ページ*/
.a-body{
	/*横幅と高さ*/
	width: 100%;
	height: 600px;
}
.a-header{
	/*横幅と高さ*/
	width: 100%;
	height: 10%;
	/*下線*/
/*	border-bottom: 1px solid #fff;*/
	/*背景色*/
	background-color: #33CCFF;
	font-size:40px;
	color:#FFF;
	font-family: sans-serif;
	
}

.a-main{
	/*横幅と高さ*/
	width: 100%;
	height: 81%;
	/*背景色*/
	background:linear-gradient(#66CCCC,#33CCFF) ;
	color:#FFF;
	font-size:20px;
	text-align: center;
	padding-top:20px;
}
.image1{
	text-align: center;
}
.word2{
	padding-bottom: 10px;
}

.a-footer{
	/*横幅と高さ*/
	width: 100%;
	height: 9%;
	/*上線*/
	border-top: 1px solid #111;
	/*右端寄せ*/
	display: flex;
	justify-content: space-between;
	/*背景色*/
	background-color: #111;
	/*字*/
	font-size:30px;
	color:#FFF;
	font-family:sans-serif;
}
.a-footer div{
	padding: 5px 20px;
}

/*アラーム設定ページ*/
.day li{
	font-size: 40px;
	text-align: left;
/*	padding-bottom: 1px;*/
	padding-left: 30px;
	float: left;
}
.day span{
	margin-left: 60px;
	border-bottom: 1px solid #FFF;
}
.day li:nth-child(1) span{
	border-top: 1px solid #FFF;
}
.day li img{
	width: auto;
	height: 60px;
	vertical-align: middle;
	padding-left: 50px;
}


/*マッチングページ*/
/*グループページ*/
li{
	list-style: none;
}
.li1{
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}


/*マッチングページ*/
.m-load{
	margin-top: 40%;;
}

/*起床ページ*/

/*結果ページ*/


.r-suc{
	color: #fff;
	font-size:60px;
	display: flex;
	justify-content: space-evenly;
	padding-top:20px;
	/* padding-bottom: 15px; */
	font-weight:bold;
}
.r-text1{
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}

.r-text1 span{
	color:#fff;
}

.ranking{
	text-align: center;
	font-size: 20px;
}
.ranking span{
	font-size: 30px;
	color: #fff;
}
.r-footer{
	background-color: #111;
	height:9%;
}
/*ランキングページ*/
.rank1{
	font-size:25px;
	justify-content: space-evenly;
	margin:10px;
	
}

