/*初期化*/
main, div{
	margin: 0;
	padding: 0;
}


/*アカウント作成ページ*/
.a-body{
	/*横幅と高さ*/
	width: 100%;
	height: 600px;
}
.a-header{
	/*横幅と高さ*/
	width: 100%;
	height: 10%;
	/*下線*/
	border-bottom: 1px solid #111;
	/*背景色*/
	background-color: #33CCFF;
}
.a-main{
	/*横幅と高さ*/
	width: 100%;
	height: 80%;
	/*背景色*/
	background-color: #008080;
}
.a-footer{
	/*横幅と高さ*/
	width: 100%;
	height: 10%;
	/*上線*/
	border-top: 1px solid #111;
	/*右端寄せ*/
	display: flex;
	justify-content: flex-end;
	/*背景色*/
	background-color: #008080;
}


/*アラーム設定ページ*/


/*マッチングページ*/

/*起床ページ*/

/*結果ページ*/