/*初期化*/
body, div, p{
	margin: 0;
	padding: 0;
}


/*アカウント作成ページ*/
.a-body{
	/*横幅と高さ*/
	width: 100%;
	height: 600px;
}
.a-header{
	/*横幅と高さ*/
	width: 100%;
	height: 10%;
	/*下線*/
	border-bottom: 1px solid #111;
	/*背景色*/
	background-color: #33CCFF;
	font-size:40px;
	color:#FFF;
	font-family: sans-serif;
	
}

.a-main{
	/*横幅と高さ*/
	width: 100%;
	height: 80%;
	/*背景色*/
	background-color: #66CCCC;
	color:#FFF;
	font-size:20px;
	text-align: center;
	padding-top:20px;
}
.image1{
	text-align: center;
}
.word2{
	padding-bottom: 10px;
}

.a-footer{
	/*横幅と高さ*/
	width: 100%;
	height: 10%;
	/*上線*/
	border-top: 1px solid #111;
	/*右端寄せ*/
	display: flex;
	justify-content: space-between;
	/*背景色*/
	background-color: #66CCCC;
	/*字*/
	font-size:30px;
	color:#FFF;
	font-family:sans-serif;
}
.a-footer div{
	padding: 5px 20px;
}

/*アラーム設定ページ*/
.al-body{
	width:100%;
	height:600px;
}
.al-header{
	width: 100%;
	height: 10%;
	border-bottom: 1px solid #111;
	background-color: #33CCFF;
	font-size: 40px;
	color: #FFF;
}
.al-main{
	width:100%;
	height:80%;
	background-color: #66CCCC;
	border-bottom: 1px solid #111;
	
}
li{
	list-style: none;
}
.li1{
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}
.al-footer{
	width: 100%;
	height:10%;
	background-color: #66CCCC;
}


/*マッチングページ*/

/*起床ページ*/

/*結果ページ*/
.r-body{
	/*横幅と高さ*/
	width: 100%;
	height: 600px;
	background-color: #111;
	opacity: .8;
}
.r-suc{
	color: #fff;
}


